In [1]:
import pandas as pd

## Import Data

In [2]:
base_dir = "../data/raw/"
headers = ["train","test"]
datasets = {}
for header in headers:
    filepath = (base_dir + "RAID0-"+header+"-8.csv")
    datasets[header] = pd.read_csv(filepath, header=None)

## Binary to Decimal Converter

In [3]:
def convert_binary_to_decimal(bin_numbers):
    decimals = []
    for number in bin_numbers:
        bin_string = ''.join(str(digit) for digit in number)
        decimal_repr = int(bin_string,2)
        decimals.append(decimal_repr)
    return decimals

In [4]:
def convert_dataset_to_decimal(dataset):
    target_lba = dataset.iloc[:,:32].values
    pending_1_lba = dataset.iloc[:,32:64].values
    pending_2_lba = dataset.iloc[:,64:96].values
    pending_3_lba = dataset.iloc[:,96:128].values
    pending_4_lba = dataset.iloc[:,128:160].values
    label = dataset.iloc[:,160].values
    
    targets = convert_binary_to_decimal(bin_numbers=target_lba)
    pending_1s = convert_binary_to_decimal(bin_numbers=pending_1_lba)
    pending_2s = convert_binary_to_decimal(bin_numbers=pending_2_lba)
    pending_3s = convert_binary_to_decimal(bin_numbers=pending_3_lba)
    pending_4s = convert_binary_to_decimal(bin_numbers=pending_4_lba)
    
    converted_df = {'target': targets, 
                    'pending_1': pending_1s, 
                    'pending_2': pending_2s, 
                    'pending_3': pending_3s, 
                    'pending_4': pending_4s, 
                    'ebusy': label.tolist()}
    return pd.DataFrame(converted_df)

In [5]:
converted_train_df = convert_dataset_to_decimal(datasets["train"])
converted_test_df = convert_dataset_to_decimal(datasets["test"])

In [6]:
converted_train_df.head()

   target  pending_1  pending_2  pending_3  pending_4  ebusy
0   63410      57031      22631      14849      31244      0
1   19612      41533       6663      31402      31162      0
2   14493      44041      29960      37298      33520      0
3   36604       7847      43991      26427      47079      0
4   33061       9487      60589      53850      47808      0

In [7]:
converted_test_df.head()

   target  pending_1  pending_2  pending_3  pending_4  ebusy
0    8687      11474      56372      20520      46907      0
1   53256      58794      34686      41640       5882      0
2   59580      17895       6851      49390      61901      0
3   18324      60898      58978       5064       2740      0
4   10377      55376      26699      59662       1112      0

In [8]:
len(converted_test_df)

100000

## Dump Converted data

In [9]:
base_dir = "../data/processed/"

In [10]:
converted_train_df.to_csv(base_dir + "RAID0-train-8-decimal.csv", index=None)
converted_test_df.to_csv(base_dir + "RAID0-test-8-decimal.csv", index=None)