In [3]:
import pandas as pd

## Import Data

In [7]:
base_dir = "../data/raw/"
headers = ["train","test"]
datasets = {}
for header in headers:
    filepath = (base_dir + "RAID0-"+header+"-8.csv")
    datasets[header] = pd.read_csv(filepath, header=None)

## Binary to Decimal Converter

In [58]:
def convert_binary_to_decimal(bin_numbers):
    decimals = []
    for number in bin_numbers:
        bin_string = ''.join(str(digit) for digit in number)
        decimal_repr = int(bin_string,2)
        decimals.append(decimal_repr)
    return decimals

In [69]:
def convert_dataset_to_decimal(dataset):
    target_lba = dataset.iloc[:,:32].values
    pending_1_lba = dataset.iloc[:,32:64].values
    pending_2_lba = dataset.iloc[:,64:96].values
    pending_3_lba = dataset.iloc[:,96:128].values
    pending_4_lba = dataset.iloc[:,128:160].values
    label = dataset.iloc[:,160].values
    
    targets = convert_binary_to_decimal(bin_numbers=target_lba)
    pending_1s = convert_binary_to_decimal(bin_numbers=pending_1_lba)
    pending_2s = convert_binary_to_decimal(bin_numbers=pending_2_lba)
    pending_3s = convert_binary_to_decimal(bin_numbers=pending_3_lba)
    pending_4s = convert_binary_to_decimal(bin_numbers=pending_4_lba)
    
    converted_df = {'target': targets, 
                    'pending_1': pending_1s, 
                    'pending_2': pending_2s, 
                    'pending_3': pending_3s, 
                    'pending_4': pending_4s, 
                    'ebusy': label.tolist()}
    return pd.DataFrame(converted_df)

In [74]:
converted_train_df = convert_dataset_to_decimal(datasets["train"])
converted_test_df = convert_dataset_to_decimal(datasets["test"])

In [75]:
converted_train_df.head()

   target  pending_1  pending_2  pending_3  pending_4  ebusy
0   41484      58017      43907      27559       4414      0
1   50667      27964      20245      38763      49381      0
2   18180      35005      38883      25895      48760      0
3   47150      61601      56266      22271      47014      0
4   37502      36211       1174      21981      23085      0

In [76]:
converted_test_df.head()

   target  pending_1  pending_2  pending_3  pending_4  ebusy
0    5586      55787      49954      21553       4310      0
1    4333      28669      26285      51163      62321      1
2   11478      35542       8361      12417      23286      1
3   31041      51418      58300      34616      45069      0
4   23262       6487      31726      46657      25785      0

## Dump Converted data

In [72]:
base_dir = "../data/processed/"

In [73]:
converted_train_df.to_csv(base_dir + "RAID0-train-8-decimal.csv")
converted_train_df.to_csv(base_dir + "RAID0-test-8-decimal.csv")